a {
  background-color: transparent;
} 

*{
  margin: 0;
  padding: 0;
}
.background-image{
  background-image: url("lamborghini-lbun8b8ehlv3j8to.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
 
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: goldenrod;}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a{
  transition: all 0.3 ease 0s;
} 

.nav_links li a:hover{
  color: #ceae8c;
}