@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

.logo{
    cursor: pointer;
    margin-right: auto;
    text-decoration: none;
    color: goldenrod;
    padding: 18px;
}

.logo:hover{
  text-decoration: none;
  color: #ceae8c;
  
}

.img{
  object-fit: cover;
  width: 100%;
  object-position: 50% 100%;
}

.img2{
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.5;
  
}

.img3{
  background-attachment: fixed;
  max-width: 35%;
  height: 265px;
  justify-content: space-evenly;
}

.img4{
  display: block;
  background-attachment: fixed;
  background-size: cover;
  max-width: 50%;
  height: 265px;
  padding: 20px;
}


.background-image{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-height: 100vh;  
}

*{
    margin: 0;
    padding: 0;
  }

.dropbtn {
background-color: black;
color: white;
padding: 16px;
font-size: 18px;
border: none;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: goldenrod;}

.title{
    color: beige;
    margin: 30px;
    font-family: 'Anton', sans-serif;
    top: 50%;
    left: 100%;
    transform: translate(-80%, -50%);
}

.title-2{
  color: black;
  margin: 30px;
  font-family:'Montserrat', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -30%);
  font-size: 18px;
}

.searchbox{
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -30%);
}


.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-flex;
  padding: 0px 20px;
}

.nav_links li a{
  transition: all 0.3 ease 0s;
} 

.nav_links li a:hover{
  color: #ceae8c;
}

.search{
  align-items: center;
}

.hyperlinks{
  text-decoration: none;
  font-size: x-large;
  display: block;
  box-sizing: border-box;
  color: lightcoral;
}

.hyperlinks:hover{
  color: beige;
}

.img-grid{
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  max-width: 50%;
}

.object-move{
  border: 2px solid #9f8f7c;
}

.test{
  position: absolute;
  left: 38px;
  padding: 5px;
  top: 160%;
  left: 2.5%;
  justify-content: space-evenly;
}

.test2{
  position: absolute;
  left: 38px;
  padding: 5px;
  top: 160%;
  left: 38.5%;
}

.test3{
  position: absolute;
  left: 10px;
  padding: 5px;
  top: 200%;
  left: 73.5%;
}

.description{
  flex-basis: 45%;

}


.row {
  display: flex;
  justify-content: space-evenly;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}


.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border: 2px soli green;
}

.split{
  flex-basis: 45%;
}








/* testing */

.flex-container{
  flex-basis: auto;
  display: flex;
  flex-flow:column wrap;
  flex-direction: row;
  /* border: aqua solid 15px;  */
}

.flex-container{
  justify-content: space-evenly;
}

.info{
  color: white;
  /* padding-left: 50px; */
}

.heading{
  text-decoration: underline;
  /* padding: 30px; */
  /* padding-left: 50px; */
  color: #daa46b;
} 




.img_reel{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-auto-rows: 240px;
}

.img{
  max-width: 100%;
  height: auto;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #353535; */
  font-size: 3rem;
  color: #fff;
  /* box-shadow: rgba(3,8,20,0.1) 0px 0.15rem 0.5rem, rgba(2,8,20,0.1) 0px 0.075rem 0.175rem; */
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
