@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

.logo{
    cursor: pointer;
    margin-right: auto;
    text-decoration: none;
    color: goldenrod;
}

.logo:hover{
  text-decoration: none;
  color: #ceae8c;
  
}

.img{
  object-fit: cover;
  width: 100%;
  object-position: 50% 100%;
}

.img2{
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.5;
}

.img3{
  display: block;
  background-attachment: fixed;
  background-size: cover;
  width: 500px;
  padding: 40px;
}


.background-image{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-height: 100vh;  
}

*{
    margin: 0;
    padding: 0;
  }

.dropbtn {
background-color: black;
color: white;
padding: 16px;
font-size: 18px;
border: none;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: goldenrod;}

.title{
    color: darkturquoise;
    margin: 30px;
    font-family: 'Anton', sans-serif;
    top: 50%;
    left: 100%;
    transform: translate(-80%, -50%);
}

.title-2{
  color: darkcyan;
  margin: 30px;
  font-family:'Montserrat', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -30%);
}

.searchbox{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
 
  
}


.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-flex;
  padding: 0px 20px;
}

.nav_links li a{
  transition: all 0.3 ease 0s;
} 

.nav_links li a:hover{
  color: #ceae8c;
}

.search{
  align-items: center;
}

.hyperlinks{
  text-decoration: none;
  font-size: x-large;
  display: block;
  box-sizing: border-box;
  color: lightcoral;
}

.hyperlinks:hover{
  color: beige;
}

.img-grid{
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  max-width: 50%;
}

.object-move{
  border: 2px solid #9f8f7c;
}

.test{
  position: absolute;
  left: 105px;
}
